body /* body */
{
    margin: 60px auto;
    width: 70%;
    background: url(https://ssagga.files.wordpress.com/2012/10/3d-space_bfadfb1b.jpg);
      background-repeat: no-repeat;
  background-size: cover;
}
nav ul, footer ul /* navigation and footer text font */
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: gray;
}
nav ul li, footer ul li /* navigator and footer orientation*/
{
    display: inline;
    margin-right: 20px;
}
a
{
    text-decoration: none;
    color: gray;
}
a:hover
{
    text-decoration: underline;
}
h1 
{
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: gray;

}
{
h2
color: gray;
}
{
h3
    color: blue;
}
p 
{
    font-size: 1.5em;
    line-height: 1.4em;
    color: gray;
}
footer /* size an space */
{
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: gray;
}

ul.posts 
{ 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: gray;
}

ul.posts li 
{
    list-style: none;
    color: gray;
}
