<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
			{% include analytics.html %}

		</head>
		<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
	<li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
		<li class="nav-item">
        <a class="nav-link" href="/videos">Videos</a>
      </li>
    </ul>
  </div>
</nav>

			<div class="container">
			<nav class="navbar navbar-dark bg-dark">
			<footer>
	    		<ul class ="navbar-nav mr-auto">
				<li class="nav-item">
				<a class="nav-link" href="mailto: christopher.fisher419@outlook.com"> Work Email</a></li>
				<br />
				<li class="nav-item">
				<a class="nav-link" href="mailto: chrisfisher419@gmail.com"> Personal Email</a></li>
				<br />
				<li class="nav-item">
				<a class="nav-link" href="https://github.com/chrisfisher419"> GitHub Repositories</a></li>
				<br />
			</footer>
			</div>
		</body>
	</html>
