<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}

		</head>
		<body>
			<h3> Navigation </h3>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/videos">Videos</a></li>
				<li><a href="/playground">Playground</a></li>
				<li><a href="/CSSTest">CSSTest</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><p> Work Email: </p><a href="mailto: christopher.fisher419@outlook.com">christopher.fisher419@outlook.com</a></li>
				<li><p> Personal Email: </p><a href="mailto: chrisfisher419@gmail.com">chrisfisher419@gmail.com</a></li>
				<li><p>GitHub Repositories: </p><a href="https://github.com/chrisfisher419">github.com/chrisfisher419</a></li>
				</ul>
			</footer>
		</body>
	</html>
